{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet"  href="{% static 'styles.css' %}">
</head>
<body>
<header id="header">
	
	<a href="{% url 'login' %}"> <img id="logo" src="{% static 'media/logo.png' %}" alt="logo " title="logo"></a>

	{% block nav %}{% endblock %}

</header>


{% block lien-create %}{% endblock %}

{% block connexion %}{% endblock %}	
	
{% block inscription %}{% endblock %}

{% block deco %}{% endblock %}

</body>
</html>