#header
{
	display: flex;
	width: 80%;
	margin: auto;
	border: solid;

}

#logo
{
	height: 150px;
}

#lien-inscription
{
	display: inline-block;
	width: 40%;
	margin-top: 100px;
	margin-left: 10%;
	text-align: center;
}


#connexion
{
	display: inline-block;
	width: 40%;
	margin-top: 100px;
	text-align: center;

}



#inscription-form
{
	width: 80%;
	margin: auto;
}


/*liens de navigation*/
#nav
{
	width: 100%;
	text-align: right;
}

#nav > ul
{
	list-style-type: none;
}

#nav > ul > li
{
	display: inline-block;
	text-align: left;
	margin-right: 15px;
}

#nav > p
{
	margin-top: 7%;
	margin-right: 15px;
}

/*abonnement*/


#abonnements
{
	width: 80%;
	margin: auto;
	text-align: center;
}

#followed_user, #followers
{
	width: 60%;
	border: solid 1px black;
	padding: 2px;
	text-align: left;
	margin-left: 10%;

}

#followed_user
{
	display: inline-block;
}


/*formulaire création ticket*/

#section_create_ticket
{
	margin: auto;
	margin-top: 80px;
	text-align: center;
	width: 80%;
}

#tcreate_ticket_form
{
	margin: auto;
}


#tcreate_ticket_form, label
{
	display: block;
	margin-bottom: 10px;
}

#tcreate_ticket_form, input, textarea
{
	width: 600px;
}

#tcreate_ticket_form > button
{
	margin-bottom: 100px;
}

/*page flux*/

#lien-ticket-reviw
{
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 80%;

}

#lien-ticket-reviw > a
{
	font-size: 20px;
	color: black;
	border-radius: 30px;
	border: solid 1px;
	padding: 12px;
	text-decoration: none;
	margin-left: 12%;

}

/*formulaire création de critique*/

#section_create_review
{
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	text-align: center;
	width: 80%;
}

#tcreate_review_form > ul
{
	list-style-type: none;
	
}

#tcreate_review_form > ul > li
{

	display: inline-block;
	text-align: left;

}
#tcreate_review_form > ul > li > label > input
{
	margin: auto;
	width: 50%;
}

#tcreate_review_form > h3
{
	text-align: left;
}

/*Ticket*/

#ticket
{
	width: 60%;
	margin: auto;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	border: solid 1px black;
}

#ticket > a
{
	margin-left: 10px;
	margin-bottom: 10px;
	border: solid 1px black;
	padding: 12px;
	text-decoration: none;
	color: black;
}

/*Review*/

#review
{
	width: 60%;
	margin: auto;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	border: solid 1px black;
}

#review > a
{
	margin-left: 10px;
	margin-bottom: 10px;
	border: solid 1px black;
	padding: 12px;
	text-decoration: none;
	color: black;
}