{% include 'dashboard.html' %}

<section id="abonnements">

<h2>Suivre d'autres utilisateurs</h2>

	<form method="POST">
		{{ form.as_p }}
		{% csrf_token %}
	<button type="submit" >Envoyer</button>
	</form>


<h2>Abonnements</h2>

	{% for user in fl_user %}

		<p id="followed_user">{{user.followed_user|upper}}</p>


		<a href="{% url 'delete_followed_user' user.pk %}">Désabonner</a>


	{% endfor %}


<h2>Abonnés</h2>

	{% for user in followers %}

		<p id="followers">{{user.user|upper}}</p>

	{% endfor %}

</section>